@(changes: List[Change], outages: List[Outage])

@main("Welcome to Play 2.0") {

    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Tasks over all projects</h2>
        </hgroup>
    </header>
    <article  class="changes">
        <ul>
             @for(c <- changes) {
	    <li>@c.getSummary()</li>
	    } 
	</ul>
    </article>

    <article  class="outages">
        <ul>
             @for(o <- outages) {
            <li>@o.getDescription()</li>
            }
        </ul>
    </article>


}
